@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1::after {
    content: url("../images/icon-arrow-down.svg") !important;
}

@layer components {
    .triangle {
        top: 100px;
        left: 2rem;
        width: calc(100% - 4rem);
        height: 0;
        overflow-y: hidden;
        transition: all 0.5s ease;
        z-index: 9999;
    }

    .triangle > li, .nav-list-btn {
        color: transparent;
        transition: all 0.2s ease;
        transition-delay: 0.2s;
        @apply md:text-natural-darkBlue-grayish
    }


    .triangle[data-visible='true'] {
        height: 330px;
        overflow-y: visible;
    }

    .triangle[data-visible='true'] > li {
        @apply text-natural-darkBlue-grayish;
    }

    .triangle[data-visible='true'] .nav-list-btn {
        @apply bg-primary-yellow text-natural-darkBlue-desaturated
    }

    .triangle::after {
        --widht: 30px;
        content: "";
        position: absolute;
        top: calc(-1 * var(--widht));
        right: 0;
        aspect-ratio: 1;
        width: var(--widht);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        background: inherit;
    }
}



